## Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## macOS
.DS_Store
*.swp
*~.nib

## Swift Package Manager
.build/
Packages/
Package.resolved

## Various
*.moved-aside
*.xcuserstate

## fastlane
fastlane/.env
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output/
fastlane/screenshots/
*.p8
*.mobileprovision
